*, *::after, *::before {
    box-sizing: border-box;
} 

body {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    min-height: 10rem;
    align-items: baseline;
    padding: 2rem 1rem;
}

.jumbotron {
    font-size: 1rem;
    background-image: url(/images/redcircuit.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    min-height: 15rem;
}

.portfolioHighlightsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    background-color: black;
    min-height: 13rem;
    padding: 5rem;
}

.portfolioHighlight {
    /* min-height: 5rem;
    min-width: 5rem; */

}

.portfolioHighlight img {
    max-height: 15rem;
    max-width: 15rem;
}

footer {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}