*, *::after, *::before {
    box-sizing: border-box;
} 

body {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

header {
    background-image: url(images/northernLights.jpg);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #1B8C20;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

.navLinks {
    display: flex;
    justify-content: center;
}

.navLinks a {
    line-height: 2rem;
    color: #000000;
    padding: 2rem;
    font-size: 2rem;
}

.jumbotron {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
}

.decorativeBox img {
    max-height: 25rem;
    border-radius: 200px;
}

.jumbotronTextbox {
    max-width: 30rem;
    margin-left: 4rem;
    text-align: center;
}

h2 {
    color: #ffffff;
    background-color: #000000;
}

.jumbotron p {
    display: inline;
    font-size: 1.4rem;
    color: #000000;
    background-color: #1B8C20;
    line-height: 2.8rem;
}

.jumbotronButton {
    font-weight: bold;
    margin: 4rem;
    padding: 1rem;
    border-radius: 25px;
    border: 0.5rem solid #1B8C20;
    color: #ffffff;
    background-color: #000000;
    display: block;
}

.aboutMe, .portfolioBlurb, .contactSection {
    background-color: #1B8C20;
    font-size: 2rem;
    margin: 0rem 6rem;
}

.aboutMe h2, .portfolioBlurb h2, .contactSection h2 {
    padding-left: 1.6rem;
}

.aboutMe p, .portfolioBlurb p, .contactSection p {
    padding: 1.6rem;
    line-height: 1.7;
}

.portfolioHighlightsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem 6rem 2rem 6rem;
    overflow: hidden;
}

.projects1n2 {
    justify-content: space-evenly;
}

.portfolioHighlight {
    text-align: center;
}

.portfolioHighlight img {
    border-radius: 25px;
    max-width: 25rem;
    min-width: 25rem;
    min-height: 25rem;
    max-height: 25rem;
}

.portfolioHighlight h3 {
    font-size: 2rem;
    color: #000000;
    background-color: #1B8C20;
}

.contactSection {
    display: flex;
    flex-direction: column;
}

.contactSection h2 {
    font-size: 2rem;
}

.linksToSocialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.sMLogo {
    max-width: 6rem;
    background-color: #1B8C20;
}

footer {
    color: #1B8C20;
    font-size: 1rem;
    padding: 5rem;
    text-align: center;
}



@media screen and (max-width: 1000px) {

    .aboutMe, .portfolioBlurb, .contactSection {
        font-size: 1.75rem;
        margin: 0rem 4.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .portfolioHighlightsContainer {
        margin: 4rem 4.5rem 2rem 4.5rem;
    }
}

@media screen and (max-width: 945px) {

    .portfolioHighlightsContainer {
        justify-content: space-evenly;
}

@media screen and (max-width: 700px) {

    header {
        background-size: 50rem 30rem;
    }

    h1 {
        font-size: 3rem;
    }

    .aboutMe, .portfolioBlurb, .contactSection {
        font-size: 1.5rem;
        margin: 0rem 3rem;
    }
}

@media screen and (max-width: 630px) {
    
    .jumbotron {
        padding-left: 1rem;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .navLinks a {
        line-height: 1.5rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .decorativeBox {
        padding-left: 3rem;
    }
}
}

@media screen and (max-width: 550px) {

    .jumbotronTextbox button {
        margin: 1rem 1rem 1rem 5rem;
        font-size: 0.75rem;
    }

    .decorativeBox img {
        max-height: 20rem;
    }
    
    .jumbotronTextbox {
        max-width: 50rem;
        margin-left: 2rem;
    }

    .portfolioHighlight img {
        max-height: 20rem;
    }

    .aboutMe, .portfolioBlurb, .contactSection {
        margin: 0rem;
    }
}

@media screen and (max-width: 450) {
    .navLinks a {
        line-height: 1rem;
        padding: 0rem;
        font-size: 1rem;
    }

    .decorativeBox img {
        max-height: 10rem;
    }
}
